<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="form-card">
    <h3 class="form-header">Modificación de datos: primero ingresa tu contraseña actual</h3>
    <ion-item>
      <ion-input placeholder="Tu contraseña actual" type="password"></ion-input>
    </ion-item>

    <h3 class="form-header">Modificación de dirección y teléfono</h3>
    <ion-item>
      <ion-input placeholder="Dirección"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Teléfono"></ion-input>
    </ion-item>
    <ion-button expand="block" class="action-button">Modificar Datos</ion-button>

    <h3 class="form-header">Modificación de email</h3>
    <ion-item>
      <ion-input placeholder="Email"></ion-input>
    </ion-item>
    <ion-button expand="block" class="action-button">Modificar email</ion-button>

    <h3 class="form-header">Modificación de contraseña</h3>
    <ion-item>
      <ion-input placeholder="Tu contraseña actual" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Nueva contraseña" type="password"></ion-input>
    </ion-item>
    <ion-button expand="block" class="action-button">Modificar contraseña</ion-button>
  </ion-card>
</ion-content>
