<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-container">
      <div class="header-left">
        <img [src]="usuario?.photoURL || 'assets/images/doctor.png'" alt="profile image" class="profile-image">
      </div>
      <div class="header-right">
        <div class="notification-container">
          <ion-icon name="notifications-outline" class="notification-icon" (click)="toggleNotificaciones()"></ion-icon>
          <ion-badge *ngIf="consultasMedicas.length > 0" color="danger" class="notification-badge">{{ consultasMedicas.length }}</ion-badge>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  

  <h2 class="page-title">Historial de pacientes</h2>

  <!-- Mostrar lista de consultas médicas -->
  <ng-container *ngIf="consultasMedicas.length > 0; else noConsultas">
    <ion-card class="patient-card" *ngFor="let consulta of consultasMedicas">
      <div class="patient-info">
        <div class="patient-image">
          <img [src]="consulta.fotoUsuario || 'assets/images/doctor.png'" alt="patient image" class="patient-profile-image">
        </div>
        <div class="patient-details">
          <h3 class="patient-name">{{ consulta.nombreUsuario }} {{ consulta.apellidoUsuario }}</h3>
          <div class="patient-date">
            <ion-icon name="calendar-outline"></ion-icon>
            <span>{{ consulta.fecha_pago | date:'dd/MM/yyyy' }}</span>
          </div>
          <div class="patient-address">
            <ion-icon name="location-outline"></ion-icon>
            <span style="font-size: 10px;">{{ consulta.direccionUsuario }}</span>
          </div>
          <ion-button size="small" class="details-button" (click)="revisarDetalles(consulta)">Revisar detalles</ion-button>

        </div>
      </div>
    </ion-card>
  </ng-container>

  <!-- Mostrar mensaje cuando no hay consultas -->
  <ng-template class="ion-text-center" #noConsultas>
    <p class="ion-text-center">No se encontraron consultas médicas para este funcionario.</p>
  </ng-template>

</ion-content>

<app-tab></app-tab>

