<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">
  <div class="header-container">
    <div class="header-left">
      <img src="assets/images/doctor.png" alt="profile image" class="profile-image">
    </div>
    <div class="header-right">
      <ion-icon name="notifications-outline" class="notification-icon"></ion-icon>
    </div>
  </div>

  <h2 class="page-title">Historial de pacientes</h2>

  <!-- Primer recuadro -->
  <ion-card class="patient-card">
    <div class="patient-info">
      <div class="patient-image">
        <img src="assets/images/doctor.png" alt="patient image" class="patient-profile-image">
      </div>
      <div class="patient-details">
        <h3 class="patient-name">Magdalena Salgado</h3>
        <div class="patient-date">
          <ion-icon name="calendar-outline"></ion-icon>
          <span>02/12/2024</span>
        </div>
        <div class="patient-address">
          <ion-icon name="location-outline"></ion-icon>
          <span>Calle Falsa 123</span>
        </div>
        <ion-button size="small" class="details-button">Revisar detalles</ion-button>
      </div>
    </div>
  </ion-card>

  <!-- Segundo recuadro -->
  <ion-card class="patient-card">
    <div class="patient-info">
      <div class="patient-image">
        <img src="assets/images/dc1.png" alt="patient image" class="patient-profile-image">
      </div>
      <div class="patient-details">
        <h3 class="patient-name">Vinicius Junior</h3>
        <div class="patient-date">
          <ion-icon name="calendar-outline"></ion-icon>
          <span>15/01/2024</span>
        </div>
        <div class="patient-address">
          <ion-icon name="location-outline"></ion-icon>
          <span>Avenida Siempre Viva 742</span>
        </div>
        <ion-button size="small" class="details-button">Revisar detalles</ion-button>
      </div>
    </div>
  </ion-card>

  <!-- Tercer recuadro -->
  <ion-card class="patient-card">
    <div class="patient-info">
      <div class="patient-image">
        <img src="assets/images/dc2.jpg" alt="patient image" class="patient-profile-image">
      </div>
      <div class="patient-details">
        <h3 class="patient-name">Lucía Fernández</h3>
        <div class="patient-date">
          <ion-icon name="calendar-outline"></ion-icon>
          <span>23/07/2023</span>
        </div>
        <div class="patient-address">
          <ion-icon name="location-outline"></ion-icon>
          <span>Calle Las Rosas 456</span>
        </div>
        <ion-button size="small" class="details-button">Revisar detalles</ion-button>
      </div>
    </div>
  </ion-card>
</ion-content>


<app-tab></app-tab>
