<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ajustes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item [routerLink]="['/lista-usuarios-admin']">
      <ion-icon aria-hidden="true" name="person" slot="start"></ion-icon>
      <ion-label>Pacientes</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="wifi" slot="start"></ion-icon>
      <ion-label>people</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="document-text" slot="start"></ion-icon>
      <ion-label>Reportes</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="checkbox" slot="start"></ion-icon>
      <ion-label>Servicios</ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
