ion-content {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    --background: #E0F7FA;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
  }
  
  .header-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .title {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #0074BD;
    text-align: center;
  }
  
  .subtitle {
    font-size: 16px;
    color: #555;
    text-align: center;
    margin: 10px 20px;
  }
  
  .doctor-card {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: auto;  /* Para centrar */
    margin-right: auto; /* Para centrar */
  }
  
  .doctor-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f0f0f0;
    margin-bottom: 15px;
    overflow: hidden; /* Ocultar el desbordamiento de la imagen */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .doctor-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegurar que la imagen cubra el contenedor sin distorsión */
  }
  
  .doctor-name {
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }
  
  .doctor-description {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
  }
  
  .view-profile-btn {
    margin-top: 20px;
    --background: #4BAADD;
    --border-radius: 50px;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --border-color: #000;
    --border-style: solid;
    --border-width: 1px;
  }
  
  /* Media Queries para Responsividad */
  @media (max-width: 767px) {
    .header-image {
      height: 150px;
    }
  
    .doctor-card {
      padding: 15px;
    }
  
    .doctor-name {
      font-size: 18px;
    }
  
    .doctor-description {
      font-size: 13px;
    }
  
    .view-profile-btn {
      width: 50%;
    }
  }
  
  @media (max-width: 480px) {
    .header-image {
      height: 120px;
    }
  
    .doctor-card {
      width: 95%;
      padding: 10px;
    }
  
    .doctor-name {
      font-size: 16px;
    }
  
    .doctor-description {
      font-size: 12px;
    }
  }
  