<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Instrucción inicial -->
  <ion-text class="ion-text-center">
    <p>
      Ingresa tu dirección de correo electrónico en el campo a continuación. Te enviaremos un enlace para que puedas restablecer tu contraseña.
    </p>
  </ion-text>

  <!-- Campo de correo electrónico -->
  
    <ion-input label="Correo electrónico" label-placement="floating" fill="outline" type="email" [(ngModel)]="correo" placeholder="Ingrese su correo"></ion-input>
  

  <!-- Botón de enviar -->
  <ion-button expand="block" style="margin-top: 20px;" (click)="enviarCorreoRecuperacion()">Enviar</ion-button>

  <!-- Mensaje de agradecimiento -->
  <ion-text color="medium" class="ion-text-center" style="display: block; margin-top: 30px;">
    <p>
      SaludyApp agradece que estés utilizando nuestra aplicación para gestionar tu salud de forma más sencilla.
    </p>
  </ion-text>

</ion-content>
