<!-- profesionales-seguimiento.page.html -->
<ion-content [ngStyle]="{ 'position': 'relative' }">

  <ion-item lines="none" class="ion-padding" [ngStyle]="{'--background': 'transparent', 'position': 'absolute', 'top': '0', 'left': '0', 'width': '100%'}">
    <ion-input  [ngStyle]="{'--background': 'rgba(75, 170, 251, 0.7)', 'color': 'white' }"
                class="ion-padding-start"
                shape="round" 
                label="Ingrese dirección"
                labelPlacement="floating"
                inputmode="text"></ion-input>
  </ion-item>

  <ion-item lines="none" class="ion-padding" [ngStyle]="{'--background': 'transparent', 'position': 'absolute', 'bottom': '0', 'left': '0'}">
    <ion-input  [ngStyle]="{'--background': 'rgba(75, 170, 251, 0.7)', 'color': 'white' }"
                class="ion-padding-start"
                shape="round" 
                label="Busca tu profesional"
                labelPlacement="floating"
                inputmode="text"></ion-input>
  </ion-item>

  <div #map id="map" style="height: 100%; width: 100%;"></div>

</ion-content>

<app-tab></app-tab>