<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="register-container">
    <ion-card style="background: #0074BD;">
      <ion-card-header class="ion-text-center">
        <ion-title class="titulo">Crear una cuenta</ion-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="registerForm">
          <ion-grid>
            <!-- Primera parte del formulario -->
            <div *ngIf="currentStep === 1">
              <ion-row>
                <ion-col size="12" size-md="6">
                  <ion-input formControlName="nombre" aria-label="Nombre" placeholder="Nombre" class="custom"></ion-input>
                  <ion-text color="danger" *ngIf="registerForm.get('nombre')?.touched && registerForm.get('nombre')?.invalid">
                    <p class="error-message">El nombre es obligatorio.</p>
                  </ion-text>
                </ion-col>
                <ion-col size="12" size-md="6">
                  <ion-input formControlName="apellidos" aria-label="Apellidos" placeholder="Apellidos" class="custom"></ion-input>
                  <ion-text color="danger" *ngIf="registerForm.get('apellidos')?.touched && registerForm.get('apellidos')?.invalid">
                    <p class="error-message">Apellidos son requeridos.</p>
                  </ion-text>
                </ion-col>
                <ion-col size="12" size-md="6">
                  <ion-input formControlName="rut" aria-label="Rut" placeholder="Rut" class="custom"></ion-input>
                  <ion-text color="danger" *ngIf="registerForm.get('rut')?.touched && registerForm.get('rut')?.invalid">
                    <p class="error-message">Rut es requerido.</p>
                  </ion-text>
                </ion-col>
                <ion-col size="12" size-md="6">
                  <ion-select formControlName="genero" aria-label="Género" placeholder="Selecciona tu género" class="custom-select">
                    <ion-select-option value="masculino">Masculino</ion-select-option>
                    <ion-select-option value="femenino">Femenino</ion-select-option>
                    <ion-select-option value="otro">Otro</ion-select-option>
                  </ion-select>
                  <ion-text color="danger" *ngIf="registerForm.get('genero')?.touched && registerForm.get('genero')?.invalid">
                    <p class="error-message">Género es requerido.</p>
                  </ion-text>
                </ion-col>
                <ion-col size="12" size-md="6">
                  <ion-input formControlName="fechaNacimiento" aria-label="Fecha de nacimiento" placeholder="Fecha de nacimiento" type="date" class="custom"></ion-input>
                  <ion-text color="danger" *ngIf="registerForm.get('fechaNacimiento')?.touched && registerForm.get('fechaNacimiento')?.invalid">
                    <p class="error-message">Fecha de nacimiento es requerida.</p>
                  </ion-text>
                </ion-col>
                <ion-col size="12" size-md="6">
                  <ion-input formControlName="edad" aria-label="Edad" placeholder="Edad" type="number" class="custom"></ion-input>
                  <ion-text color="danger" *ngIf="registerForm.get('edad')?.touched && registerForm.get('edad')?.invalid">
                    <p class="error-message">Edad es requerida.</p>
                  </ion-text>
                </ion-col>
              </ion-row>
              <div class="first-step-buttons">
                <ion-button expand="block" (click)="goToNextStep()" class="next-button">
                  Siguiente
                  <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
                </ion-button>
              </div>
            </div>
  
            <!-- Segunda parte del formulario -->
            <div *ngIf="currentStep === 2">
              <ion-row>
                <ion-col size="12" size-md="6">
                  <ion-input formControlName="altura" aria-label="Altura" placeholder="Altura" class="custom"></ion-input>
                  <ion-text color="danger" *ngIf="registerForm.get('altura')?.touched && registerForm.get('altura')?.invalid">
                    <p class="error-message">Altura es requerida.</p>
                  </ion-text>
                </ion-col>
                <ion-col size="12" size-md="6">
                  <ion-input formControlName="peso" aria-label="Peso" placeholder="Peso" class="custom"></ion-input>
                  <ion-text color="danger" *ngIf="registerForm.get('peso')?.touched && registerForm.get('peso')?.invalid">
                    <p class="error-message">Peso es requerido.</p>
                  </ion-text>
                </ion-col>
                <ion-col size="12">
                  <ion-input formControlName="direccion" aria-label="Dirección" placeholder="Dirección" class="custom"></ion-input>
                  <ion-text color="danger" *ngIf="registerForm.get('direccion')?.touched && registerForm.get('direccion')?.invalid">
                    <p class="error-message">Dirección es requerida.</p>
                  </ion-text>
                </ion-col>
                <ion-col size="12">
                  <ion-input formControlName="telefono" aria-label="Número telefónico" placeholder="Número telefónico" class="custom"></ion-input>
                  <ion-text color="danger" *ngIf="registerForm.get('telefono')?.touched && registerForm.get('telefono')?.invalid">
                    <p class="error-message">Número telefónico es requerido.</p>
                  </ion-text>
                </ion-col>
                <ion-col size="12">
                  <ion-input formControlName="correo" aria-label="Correo electrónico" placeholder="Correo electrónico" type="email" class="custom"></ion-input>
                  <ion-text color="danger" *ngIf="registerForm.get('correo')?.touched && registerForm.get('correo')?.invalid">
                    <p class="error-message">Correo electrónico es requerido.</p>
                  </ion-text>
                </ion-col>
                <ion-col size="12">
                  <ion-input formControlName="antecedentesQuirurgicos" aria-label="Antecedentes Quirúrgicos" placeholder="Antecedentes Quirúrgicos" class="custom"></ion-input>
                </ion-col>
                <ion-col size="12">
                  <ion-input formControlName="alergias" aria-label="Alergias" placeholder="Alergias" class="custom"></ion-input>
                </ion-col>
                <ion-col size="12">
                  <ion-input formControlName="medicamentos" aria-label="Medicamentos" placeholder="Medicamentos" class="custom"></ion-input>
                </ion-col>
              </ion-row>
              <div class="second-step-buttons">
                <ion-button expand="block" (click)="goToPreviousStep()" class="prev-button">
                  <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
                  Atrás
                </ion-button>
                <ion-button expand="block" (click)="register()" class="register-button">
                  Registrar
                </ion-button>
              </div>
            </div>
          </ion-grid>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
