<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="rectangle">
    <div class="left-side">
      <div class="text-container">
        <h5>¿Quieres solicitar un servicio?</h5>
        <p>Servicios a la puerta de tu casa, sólo al alcance en un toque.</p>
      </div>
      <ion-button size="small" >Ingresa Aquí</ion-button>
    </div>
    <div class="right-side">
      <img src="assets/images/doctor.png" alt="Descripción de la imagen" />
    </div>
  </div>

  
</ion-content>

<app-tab></app-tab>