<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="rectangle">
    <div class="left-side">
      <div class="text-container">
        <h5>¿Quieres solicitar un servicio?</h5>
        <p class="txt1">Servicios a la puerta de tu casa, sólo al alcance en un toque.</p>
      </div>
      <ion-button class="btn1" size="small" [routerLink]="['/desc-medica']" >Ingresa Aquí</ion-button>
    </div>
    <div class="right-side">
      <img src="assets/images/doctor.png" alt="Descripción de la imagen" />
    </div>
  </div>

  <div class="service-description">
    <p>En SaludYa contamos con diversos servicios, entre los cuales se encuentran:</p>
  </div>
  
  <div class="services-container">
    <div class="service-box">
      <ion-router-link routerLink="/medicina">
        <ion-icon name="medkit"></ion-icon>
      </ion-router-link>
      <p>Medicina</p>
    </div>
    <div class="service-box">
      <ion-router-link routerLink="/enfermeria">
        <ion-icon name="thermometer"></ion-icon>
      </ion-router-link>
      <p>Enfermería</p>
    </div>
    <div class="service-box">
      <ion-router-link routerLink="/kinesiologia">
        <ion-icon name="walk"></ion-icon>
      </ion-router-link>
      <p>Kinesiología</p>
    </div>
    <div class="service-box">
      <ion-router-link routerLink="/nutricionista">
        <ion-icon name="nutrition"></ion-icon>
      </ion-router-link>
      <p>Nutricionista</p>
    </div>
  </div>

  <div class="rectangle second-rectangle">
    <div class="right-side">
      <img src="assets/images/servicio-med.png" alt="Descripción de la imagen" />
    </div>
    <div class="left-side">
      <div class="text-container">
        <p class="txt3">Te ofrecemos un servicio de calidad y a un costo que esté a tu alcance, nuestro enfoque principal está en tu bienestar</p>
      </div>
    </div>
  </div>

  <div class="solicita-aqui-container">
    <ion-button class="btn2" [routerLink]="['/desc-medica']" >Solicita Aquí</ion-button>
  </div>

  
</ion-content>

<app-tab></app-tab>