<ion-header [translucent]="true"></ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="center-container">
    <div class="heart-icon">
      <svg width="150" height="150" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="heart-svg">
        <!-- Forma de corazón -->
        <path
            class="heart-shape"
            d="M50 30 C35 5, 5 20, 10 40 C10 60, 50 90, 50 90 C50 90, 90 60, 90 40 C95 20, 65 5, 50 30 Z"
            fill="red"
            stroke="black"
            stroke-width="1"
        />
        <!-- Cardiograma  -->
        <path
            class="cardiogram-line"
            d=" M12,50 L15,50
            Q20,45 25,50
            L30,50
            Q35,35 40,50
            L43,50
            Q45,80 48,50
            L50,35
            Q52,80 55,50
            L58,50
            Q63,45 67,50
            L70,50
            Q75,40 80,50
            L87,50
            "
            fill="none"
          
        />
    </svg>
    </div>
  </div>
</ion-content>
