<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-select placeholder="Seleccione Profesional" [(ngModel)]="consulta.nombreFuncionario">
          <ion-select-option *ngFor="let funcionario of funcionarios" [value]="funcionario.nombre">D. 
            {{ funcionario.nombre }} {{ funcionario.apellido }}
          </ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-textarea
          label="Descripción"
          fill="outline"
          labelPlacement="floating"
          placeholder="Ingresa aquí la descripción"
          class="area"
          [(ngModel)]="consulta.descripcion">
        </ion-textarea>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p style="color: rgb(43, 42, 42);">¿Tienes una orden médica? adjúntala aquí:</p>
        <input type="file" (change)="onFileSelected($event)" />
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-textarea
          label="Síntomas"
          fill="outline"
          labelPlacement="floating"
          placeholder="Ingresa tus síntomas"
          class="area"
          [(ngModel)]="consulta.sintomas">
        </ion-textarea>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Costo de la consulta: ${{consulta.costoConsulta}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>¿Tienes un código de descuento?</p>
            <ion-input
              placeholder="Ingresa aquí tu código"
              class="discount-input"
              [(ngModel)]="consulta.codigoDescuento">
            </ion-input>
            <ion-button expand="block" (click)="abrirModalPago()">SIGUIENTE</ion-button>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>



<app-tab></app-tab>
