ion-content {
    --background: #E0F7FA; /* Cambia este color según tus necesidades */
  }
  .user-avatar {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: block;
  }
  .section-title {
    font-size: 20px;
    margin: 20px 0 10px 0;
  }  


  .edit-icon {
    width: 16px;
    margin-left: 10px;
    color: rgb(73, 117, 249);
    visibility: visible; /* Siempre visible */
  }
  
  .check-icon {
    width: 16px;
    margin-left: 10px;
    visibility: hidden; /* Ocultar icono por defecto */
  }
  
  .close-icon {
    width: 16px;
    margin-left: 10px;
    visibility: hidden; /* Ocultar icono por defecto */
  }
  
  ion-item {
    position: relative; /* Permite posicionar los íconos relativos al ion-item */
  }
  
  .edit-icon:hover + .check-icon,
  .edit-icon:hover + .close-icon,
  .isEditing .check-icon,
  .isEditing .close-icon {
    visibility: visible; /* Mostrar iconos al editar */
  }
  
  