ion-content {
    --background: #E0F7FA; /* Cambia este color según tus necesidades */
  }
.user-avatar {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: block;
  }
  .section-title {
    font-size: 1.2rem;
    margin: 20px 0 10px 0;
  }  

  .edit-icon {
    cursor: pointer; /* Cambia el cursor para indicar que es interactivo */
    color: #0074BD; /* Cambia el color del ícono si lo deseas */
    transition: color 0.3s ease; /* Transición suave para el cambio de color */
    width: 18px;
  }
  
  .edit-icon:hover {
    color: #65C1F2; /* Cambia a otro color al pasar el mouse */
  }