<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-text-center">
    <ion-list>
      <!-- Foto del Usuario centrada y más grande -->
      <ion-row class="ion-justify-content-center">
        <ion-col size="auto">
          <ion-avatar class="user-avatar">
            <img [src]="info?.photoURL || 'assets/img/doctora.png'" alt="Foto del usuario">
          </ion-avatar>
        </ion-col>
      </ion-row>
    
      <!-- Sección de Datos Personales -->
      <ion-row>
        <ion-col>
          <ion-label class="section-title">Mis Datos Personales</ion-label>
        </ion-col>
      </ion-row>
    
      <!-- Rol -->
      
    
      <ion-row>
        <!-- Nombre -->
        <ion-col size="12">
          <ion-item [ngClass]="{'isEditing': isEditing['nombre']}">
            <ion-icon aria-hidden="true" name="person" slot="start"></ion-icon>
            <ng-container *ngIf="!isEditing['nombre']; else editNombre">
              <ion-label>{{ info?.nombre }}</ion-label>
              <ion-icon name="create" slot="end" class="edit-icon" (click)="editField('nombre')"></ion-icon>
              <ion-icon name="checkmark" slot="end" color="success" class="check-icon" (click)="confirmEdit('nombre')"></ion-icon>
              <ion-icon name="close" slot="end" color="danger" class="close-icon" (click)="cancelEdit('nombre')"></ion-icon>
            </ng-container>
            <ng-template #editNombre>
              <ion-input [(ngModel)]="info.nombre" placeholder="Nombre"></ion-input>
              <ion-icon name="checkmark" slot="end" color="success" class="check-icon" (click)="confirmEdit('nombre')"></ion-icon>
              <ion-icon name="close" slot="end" color="danger" class="close-icon" (click)="cancelEdit('nombre')"></ion-icon>
            </ng-template>
          </ion-item>
        </ion-col>
      
        <!-- Apellido -->
        <ion-col size="12">
          <ion-item [ngClass]="{'isEditing': isEditing['apellido']}">
            <ion-icon aria-hidden="true" name="person" slot="start"></ion-icon>
            <ng-container *ngIf="!isEditing['apellido']; else editApellido">
              <ion-label>{{ info?.apellido }}</ion-label>
              <ion-icon name="create" slot="end" class="edit-icon" (click)="editField('apellido')"></ion-icon>
              <ion-icon name="checkmark" slot="end" color="success" class="check-icon" (click)="confirmEdit('apellido')"></ion-icon>
              <ion-icon name="close" slot="end" color="danger" class="close-icon" (click)="cancelEdit('apellido')"></ion-icon>
            </ng-container>
            <ng-template #editApellido>
              <ion-input [(ngModel)]="info.apellido" placeholder="Apellido"></ion-input>
              <ion-icon name="checkmark" slot="end" color="success" class="check-icon" (click)="confirmEdit('apellido')"></ion-icon>
              <ion-icon name="close" slot="end" color="danger" class="close-icon" (click)="cancelEdit('apellido')"></ion-icon>
            </ng-template>
          </ion-item>
        </ion-col>
      
        <!-- Correo -->
        <ion-col size="12">
          <ion-item [ngClass]="{'isEditing': isEditing['correo']}">
            <ion-icon aria-hidden="true" name="mail" slot="start"></ion-icon>
            <ng-container *ngIf="!isEditing['correo']; else editCorreo">
              <ion-label>{{ info?.correo }}</ion-label>
              <ion-icon name="create" slot="end" class="edit-icon" (click)="editField('correo')"></ion-icon>
              <ion-icon name="checkmark" slot="end" color="success" class="check-icon" (click)="confirmEdit('correo')"></ion-icon>
              <ion-icon name="close" slot="end" color="danger" class="close-icon" (click)="cancelEdit('correo')"></ion-icon>
            </ng-container>
            <ng-template #editCorreo>
              <ion-input [(ngModel)]="info.correo" placeholder="Correo"></ion-input>
              <ion-icon name="checkmark" slot="end" color="success" class="check-icon" (click)="confirmEdit('correo')"></ion-icon>
              <ion-icon name="close" slot="end" color="danger" class="close-icon" (click)="cancelEdit('correo')"></ion-icon>
            </ng-template>
          </ion-item>
        </ion-col>
      
        <!-- Fecha de Nacimiento -->
        <ion-col size="12">
          <ion-item [ngClass]="{'isEditing': isEditing['fechaNacimiento']}">
            <ion-icon aria-hidden="true" name="calendar" slot="start"></ion-icon>
            <ng-container *ngIf="!isEditing['fechaNacimiento']; else editFechaNacimiento">
              <ion-label>Fecha de Nacimiento: {{ info?.fechaNacimiento }}</ion-label>
              <ion-icon name="create" slot="end" class="edit-icon" (click)="editField('fechaNacimiento')"></ion-icon>
              <ion-icon name="checkmark" slot="end" color="success" class="check-icon" (click)="confirmEdit('fechaNacimiento')"></ion-icon>
              <ion-icon name="close" slot="end" color="danger" class="close-icon" (click)="cancelEdit('fechaNacimiento')"></ion-icon>
            </ng-container>
            <ng-template #editFechaNacimiento>
              <ion-input [(ngModel)]="info.fechaNacimiento" placeholder="Fecha de Nacimiento"></ion-input>
              <ion-icon name="checkmark" slot="end" color="success" class="check-icon" (click)="confirmEdit('fechaNacimiento')"></ion-icon>
              <ion-icon name="close" slot="end" color="danger" class="close-icon" (click)="cancelEdit('fechaNacimiento')"></ion-icon>
            </ng-template>
          </ion-item>
        </ion-col>
      
        <!-- RUT -->
        <ion-col size="12">
          <ion-item [ngClass]="{'isEditing': isEditing['rut']}">
            <ion-icon aria-hidden="true" name="document" slot="start"></ion-icon>
            <ng-container *ngIf="!isEditing['rut']; else editRut">
              <ion-label>RUT: {{ info?.rut }}</ion-label>
              <ion-icon name="create" slot="end" class="edit-icon" (click)="editField('rut')"></ion-icon>
              <ion-icon name="checkmark" slot="end" color="success" class="check-icon" (click)="confirmEdit('rut')"></ion-icon>
              <ion-icon name="close" slot="end" color="danger" class="close-icon" (click)="cancelEdit('rut')"></ion-icon>
            </ng-container>
            <ng-template #editRut>
              <ion-input [(ngModel)]="info.rut" placeholder="RUT"></ion-input>
              <ion-icon name="checkmark" slot="end" color="success" class="check-icon" (click)="confirmEdit('rut')"></ion-icon>
              <ion-icon name="close" slot="end" color="danger" class="close-icon" (click)="cancelEdit('rut')"></ion-icon>
            </ng-template>
          </ion-item>
        </ion-col>
      
        <!-- Edad -->
        <ion-col size="12">
          <ion-item [ngClass]="{'isEditing': isEditing['edad']}">
            <ion-icon aria-hidden="true" name="hourglass" slot="start"></ion-icon>
            <ng-container *ngIf="!isEditing['edad']; else editEdad">
              <ion-label>{{ info?.edad }} años</ion-label>
              <ion-icon name="create" slot="end" class="edit-icon" (click)="editField('edad')"></ion-icon>
              <ion-icon name="checkmark" slot="end" color="success" class="check-icon" (click)="confirmEdit('edad')"></ion-icon>
              <ion-icon name="close" slot="end" color="danger" class="close-icon" (click)="cancelEdit('edad')"></ion-icon>
            </ng-container>
            <ng-template #editEdad>
              <ion-input [(ngModel)]="info.edad" placeholder="Edad"></ion-input>
              <ion-icon name="checkmark" slot="end" color="success" class="check-icon" (click)="confirmEdit('edad')"></ion-icon>
              <ion-icon name="close" slot="end" color="danger" class="close-icon" (click)="cancelEdit('edad')"></ion-icon>
            </ng-template>
          </ion-item>
        </ion-col>
      
        <!-- Género -->
        <ion-col size="12">
          <ion-item [ngClass]="{'isEditing': isEditing['genero']}">
            <ion-icon aria-hidden="true" name="transgender" slot="start"></ion-icon>
            <ng-container *ngIf="!isEditing['genero']; else editGenero">
              <ion-label>{{ info?.genero }}</ion-label>
              <ion-icon name="create" slot="end" class="edit-icon" (click)="editField('genero')"></ion-icon>
              <ion-icon name="checkmark" slot="end" color="success" class="check-icon" (click)="confirmEdit('genero')"></ion-icon>
              <ion-icon name="close" slot="end" color="danger" class="close-icon" (click)="cancelEdit('genero')"></ion-icon>
            </ng-container>
            <ng-template #editGenero>
              <ion-input [(ngModel)]="info.genero" placeholder="Género"></ion-input>
              <ion-icon name="checkmark" slot="end" color="success" class="check-icon" (click)="confirmEdit('genero')"></ion-icon>
              <ion-icon name="close" slot="end" color="danger" class="close-icon" (click)="cancelEdit('genero')"></ion-icon>
            </ng-template>
          </ion-item>
        </ion-col>
      
        <!-- Altura -->
        <ion-col size="12">
          <ion-item [ngClass]="{'isEditing': isEditing['altura']}">
            <ion-icon aria-hidden="true" name="arrow-up" slot="start"></ion-icon>
            <ng-container *ngIf="!isEditing['altura']; else editAltura">
              <ion-label>{{ info?.altura }} cm</ion-label>
              <ion-icon name="create" slot="end" class="edit-icon" (click)="editField('altura')"></ion-icon>
              <ion-icon name="checkmark" slot="end" color="success" class="check-icon" (click)="confirmEdit('altura')"></ion-icon>
              <ion-icon name="close" slot="end" color="danger" class="close-icon" (click)="cancelEdit('altura')"></ion-icon>
            </ng-container>
            <ng-template #editAltura>
              <ion-input [(ngModel)]="info.altura" placeholder="Altura (cm)"></ion-input>
              <ion-icon name="checkmark" slot="end" color="success" class="check-icon" (click)="confirmEdit('altura')"></ion-icon>
              <ion-icon name="close" slot="end" color="danger" class="close-icon" (click)="cancelEdit('altura')"></ion-icon>
            </ng-template>
          </ion-item>
        </ion-col>
      
        <!-- Peso -->
        <ion-col size="12">
          <ion-item [ngClass]="{'isEditing': isEditing['peso']}">
            <ion-icon aria-hidden="true" name="barbell" slot="start"></ion-icon>
            <ng-container *ngIf="!isEditing['peso']; else editPeso">
              <ion-label>{{ info?.peso }} kg</ion-label>
              <ion-icon name="create" slot="end" class="edit-icon" (click)="editField('peso')"></ion-icon>
              <ion-icon name="checkmark" slot="end" color="success" class="check-icon" (click)="confirmEdit('peso')"></ion-icon>
              <ion-icon name="close" slot="end" color="danger" class="close-icon" (click)="cancelEdit('peso')"></ion-icon>
            </ng-container>
            <ng-template #editPeso>
              <ion-input [(ngModel)]="info.peso" placeholder="Peso (kg)"></ion-input>
              <ion-icon name="checkmark" slot="end" color="success" class="check-icon" (click)="confirmEdit('peso')"></ion-icon>
              <ion-icon name="close" slot="end" color="danger" class="close-icon" (click)="cancelEdit('peso')"></ion-icon>
            </ng-template>
          </ion-item>
        </ion-col>
      
        <!-- Dirección -->
        <ion-col size="12">
          <ion-item [ngClass]="{'isEditing': isEditing['direccion']}">
            <ion-icon aria-hidden="true" name="home" slot="start"></ion-icon>
            <ng-container *ngIf="!isEditing['direccion']; else editDireccion">
              <ion-label>{{ info?.direccion }}</ion-label>
              <ion-icon name="create" slot="end" class="edit-icon" (click)="editField('direccion')"></ion-icon>
              <ion-icon name="checkmark" slot="end" color="success" class="check-icon" (click)="confirmEdit('direccion')"></ion-icon>
              <ion-icon name="close" slot="end" color="danger" class="close-icon" (click)="cancelEdit('direccion')"></ion-icon>
            </ng-container>
            <ng-template #editDireccion>
              <ion-input [(ngModel)]="info.direccion" placeholder="Dirección"></ion-input>
              <ion-icon name="checkmark" slot="end" color="success" class="check-icon" (click)="confirmEdit('direccion')"></ion-icon>
              <ion-icon name="close" slot="end" color="danger" class="close-icon" (click)="cancelEdit('direccion')"></ion-icon>
            </ng-template>
          </ion-item>
        </ion-col>
      
        <!-- Teléfono -->
        <ion-col size="12">
          <ion-item [ngClass]="{'isEditing': isEditing['numeroTelefonico']}">
            <ion-icon aria-hidden="true" name="call" slot="start"></ion-icon>
            <ng-container *ngIf="!isEditing['numeroTelefonico']; else editnumeroTelefonico">
              <ion-label>{{ info.numeroTelefonico }}</ion-label>
              <ion-icon name="create" slot="end" class="edit-icon" (click)="editField('numeroTelefonico')"></ion-icon>
              <ion-icon name="checkmark" slot="end" color="success" class="check-icon" (click)="confirmEdit('numeroTelefonico')"></ion-icon>
              <ion-icon name="close" slot="end" color="danger" class="close-icon" (click)="cancelEdit('numeroTelefonico')"></ion-icon>
            </ng-container>
            <ng-template #editnumeroTelefonico>
              <ion-input [(ngModel)]="info.numeroTelefonico" placeholder="Teléfono"></ion-input>
              <ion-icon name="checkmark" slot="end" color="success" class="check-icon" (click)="confirmEdit('numeroTelefonico')"></ion-icon>
              <ion-icon name="close" slot="end" color="danger" class="close-icon" (click)="cancelEdit('numeroTelefonico')"></ion-icon>
            </ng-template>
          </ion-item>
        </ion-col>
      
        <!-- Alergias -->
        <ion-col size="12">
          <ion-item [ngClass]="{'isEditing': isEditing['alergias']}">
            <ion-icon aria-hidden="true" name="alert" slot="start"></ion-icon>
            <ng-container *ngIf="!isEditing['alergias']; else editAlergias">
              <ion-label>{{ info?.alergias }}</ion-label>
              <ion-icon name="create" slot="end" class="edit-icon" (click)="editField('alergias')"></ion-icon>
              <ion-icon name="checkmark" slot="end" color="success" class="check-icon" (click)="confirmEdit('alergias')"></ion-icon>
              <ion-icon name="close" slot="end" color="danger" class="close-icon" (click)="cancelEdit('alergias')"></ion-icon>
            </ng-container>
            <ng-template #editAlergias>
              <ion-input [(ngModel)]="info.alergias" placeholder="Alergias"></ion-input>
              <ion-icon name="checkmark" slot="end" color="success" class="check-icon" (click)="confirmEdit('alergias')"></ion-icon>
              <ion-icon name="close" slot="end" color="danger" class="close-icon" (click)="cancelEdit('alergias')"></ion-icon>
            </ng-template>
          </ion-item>
        </ion-col>
      
        <!-- Antecedentes Quirúrgicos -->
        <ion-col size="12">
          <ion-item [ngClass]="{'isEditing': isEditing['antecedentesQuirurgicos']}">
            <ion-icon aria-hidden="true" name="medkit" slot="start"></ion-icon>
            <ng-container *ngIf="!isEditing['antecedentesQuirurgicos']; else editantecedentesQuirurgicos">
              <ion-label>{{ info?.antecedentesQuirurgicos }}</ion-label>
              <ion-icon name="create" slot="end" class="edit-icon" (click)="editField('antecedentesQuirurgicos')"></ion-icon>
              <ion-icon name="checkmark" slot="end" color="success" class="check-icon" (click)="confirmEdit('antecedentesQuirurgicos')"></ion-icon>
              <ion-icon name="close" slot="end" color="danger" class="close-icon" (click)="cancelEdit('antecedentesQuirurgicos')"></ion-icon>
            </ng-container>
            <ng-template #editantecedentesQuirurgicos>
              <ion-input [(ngModel)]="info.antecedentesQuirurgicos" placeholder="Antecedentes Quirúrgicos"></ion-input>
              <ion-icon name="checkmark" slot="end" color="success" class="check-icon" (click)="confirmEdit('antecedentesQuirurgicos')"></ion-icon>
              <ion-icon name="close" slot="end" color="danger" class="close-icon" (click)="cancelEdit('antecedentesQuirurgicos')"></ion-icon>
            </ng-template>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item [ngClass]="{'isEditing': isEditing['medicamentos']}">
            <ion-icon aria-hidden="true" name="medkit" slot="start"></ion-icon>
            <ng-container *ngIf="!isEditing['medicamentos']; else editmedicamentos">
              <ion-label>{{ info?.medicamentos }}</ion-label>
              <ion-icon name="create" slot="end" class="edit-icon" (click)="editField('medicamentos')"></ion-icon>
              <ion-icon name="checkmark" slot="end" color="success" class="check-icon" (click)="confirmEdit('medicamentos')"></ion-icon>
              <ion-icon name="close" slot="end" color="danger" class="close-icon" (click)="cancelEdit('medicamentos')"></ion-icon>
            </ng-container>
            <ng-template #editmedicamentos>
              <ion-input [(ngModel)]="info.medicamentos" placeholder="medicamentos"></ion-input>
              <ion-icon name="checkmark" slot="end" color="success" class="check-icon" (click)="confirmEdit('medicamentos')"></ion-icon>
              <ion-icon name="close" slot="end" color="danger" class="close-icon" (click)="cancelEdit('medicamentos')"></ion-icon>
            </ng-template>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-list>
  </ion-grid>
  <app-tab></app-tab>
</ion-content>


