ion-content {
  --background: #06e6f62e; /* Cambia este color según tus necesidades */

}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centra el contenido verticalmente */
  padding: 20px; /* Añade padding para evitar que el contenido toque los bordes */
  box-sizing: border-box; /* Incluye el padding en el cálculo del ancho */
  height: 100%; /* Asegúrate de que ocupe toda la altura del contenido */
}

.swiper-container {
  width: 100%; /* Asegúrate de que ocupe el ancho completo del contenedor */
  height: auto; /* Ajusta la altura del slider */
  flex-grow: 1;
  position: relative;
  margin-bottom: 30px; /* Ajusta el espacio entre el slider y el botón */
}

swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; /* Asegura que el contenido del slide se posicione correctamente */
  margin-bottom: 20px;
}

.slide-image {
  width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
  height: auto; /* Mantiene la proporción original de la imagen */
  max-width: 300px; /* Tamaño máximo común para todas las imágenes */
  max-height: 300px; /* Limita la altura máxima para todas las imágenes */
  object-fit: contain; /* Asegura que la imagen se ajuste dentro del contenedor sin distorsionarse */
}

.slide-text {
  text-align: center;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.8); /* Color negro con 80% de opacidad */
  padding: 10px;
  font-weight: bold; 
  width: 100%;
  max-width: 90%; /* Limita el ancho máximo del texto */
  margin-top: 15px;
}

.slide-text2 {
  text-align: center;
  font-size: 15px; /* Tamaño de fuente más pequeño */
  color: rgba(0, 0, 0, 0.7); /* Color negro con 70% de opacidad */
  padding: 5px;
  width: 100%;
  max-width: 90%; /* Limita el ancho máximo del texto */
  margin-top: 15px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 20px; /* Reduce el espacio inferior para acercar el botón al swiper */
}

.login-button {
  --border-width: 1px;
  --border-color: black;
  --background: #6A70FE;
  --color: white;
  --border-radius: 50px;
  width: 90%; /* Expande el botón hacia los lados */
}

/* Consultas de medios para pantallas pequeñas */
@media (max-width: 576px) {
  .slide-text {
    font-size: 18px;
  }
  .slide-text2 {
    font-size: 12px;
  }
  .login-button {
    font-size: 14px;
    width: 100%;
  }
}

/* Consultas de medios para pantallas medianas */
@media (min-width: 577px) and (max-width: 768px) {
  .slide-text {
    font-size: 20px;
  }
  .slide-text2 {
    font-size: 14px;
  }
  .login-button {
    font-size: 16px;
  }
}


