<ion-header>
  <ion-toolbar>
    <ion-title>Confirmar Pago</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Detalles del Pago</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Nombre:</strong> {{ consulta.nombreUsuario }}</p>
      <p><strong>Descripción:</strong> {{ consulta.descripcion }}</p>
      <p><strong>Síntomas:</strong> {{ consulta.sintomas }}</p>
      <p><strong>Costo:</strong> ${{ consulta.costoConsulta }}</p>
      <div id="card-element"></div> <!-- Elemento de Stripe para la tarjeta -->
      <div id="card-errors" role="alert"></div> <!-- Para mostrar errores de la tarjeta -->
    </ion-card-content>
  </ion-card>
  
  <ion-button expand="block" (click)="confirmarPago()">Confirmar Pago</ion-button>
</ion-content>
