<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title>Confirmar Pago</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()" color="light">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-content">
  <ion-card class="payment-card">
    <ion-card-header>
      <ion-card-title color="white">Detalles del Pago</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Pago con Stripe</strong>
      <p><strong>Nombre:</strong> {{ consulta.nombreUsuario }} {{ consulta.apellidoUsuario }}</p>
      <p><strong>Descripción:</strong> {{ consulta.descripcion }}</p>
      <p><strong>Síntomas:</strong> {{ consulta.sintomas }}</p>
      <p><strong>Costo:</strong> ${{ consulta.costoConsulta }}</p>
      <div id="card-element" class="card-input"></div>
      <div id="card-errors" role="alert" class="card-errors"></div>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" (click)="confirmarPago()" class="confirm-button">
    Confirmar Pago
  </ion-button>
</ion-content>
